<h1 class='page_title'>Edit This Food</h1>

<div class="form_page_main">
  <img class="food_group_image_show_page" src='/images/{{foodToEdit.food_group}}.png' alt='fruits_image'>
  <form class="form" method="POST" action="/users/{{userId}}/items/{{itemId}}?_method=PUT">
    <p>Food Name:
      <input type="text" name="name" value="{{foodToEdit.name}}">
    </p>
    <p>Food Group:
      <input type="radio" name="food_group" value="fruits" required>Fruits
      <input type="radio" name="food_group" value="vegetables">Vegetables
      <input type="radio" name="food_group" value="grains">Grains
      <input type="radio" name="food_group" value="protein">Protein
      <input type="radio" name="food_group" value="dairy">Dairy
      <input type="radio" name="food_group" value="fats">Fats/Oils/Sweets
      <input type="radio" name="food_group" value="other">Other
    </p>
    <p>Expiration Date (if listed):
      <input type="date" name="expirationDate" value="{{foodToEdit.expirationDate}}">
    </p>
    <p>Recipe Ideas:
      <input type="text" name="comments" value="{{foodToEdit.comments}}">
    </p>
    <input type="submit">
  </form>
</div>

<a class="footer_links" href='/users/{{userId}}/items/{{itemId}}'>Nevermind</a>
