<h1 class='page_title'>Edit This Food</h1>

<div class="form_page_main">
  <img class="food_group_image_show_page" src='/images/{{foodToEdit.food_group}}.png' alt='fruits_image'>
  <form class="form" method="POST" action="/users/{{userId}}/items/{{itemId}}?_method=PUT">
    <p class="form_line">Food Name:
      <input type="text" name="name" value="{{foodToEdit.name}}">
    </p>
    <p class="form_line">Food Group:
      <input class="food_group" id='fruits' type="radio" name="food_group" value="fruits" required>Fruits
      <input class="food_group" id='vegetables' type="radio" name="food_group" value="vegetables">Vegetables
      <input class="food_group" id='grains' type="radio" name="food_group" value="grains">Grains
      <input class="food_group" id='protein' type="radio" name="food_group" value="protein">Protein
      <input class="food_group" id='dairy' type="radio" name="food_group" value="dairy">Dairy
      <input class="food_group" id='fats' type="radio" name="food_group" value="fats">Fats/Oils/Sweets
      <input class="food_group" id='other' type="radio" name="food_group" value="other">Other
    </p>
    <p class="form_line">Expiration Date (if listed):
      <input type="date" name="expirationDate" value="{{expirationDate}}">
    </p>
    <p class="form_line">Recipe Ideas:
      <input type="text" name="comments" value="{{foodToEdit.comments}}">
    </p>
    <input class="buttons" type="submit">
  </form>
</div>

<div class="footer_nav">
  <a class="footer_links" href='/users/{{userId}}/items/{{itemId}}'>Nevermind</a>
</div>
