<h1 class="page_title">Edit Your Pantry Info</h1>


<div class="form_page_main">
  <img class="fridge_image_form_page" src='http://clipartpen.com/wp-content/uploads/2017/03/cartoon-fridge-clipart.gif' alt='refrigerator_clip_art'>
  <form class="form" method="POST" action="/users/{{userToEdit._id}}?_method=PATCH">
      <p>Name: <input type="text" name="name" value="{{userToEdit.name}}"></p>
      <p>Email: <input type="text" name="email" value="{{userToEdit.email}}"></p>
      <p>Favorite Food: <input type="text" name="favorite_food" value="{{userToEdit.favorite_food}}"></p>
      <input type="submit">
  </form>
</div>

<a class="footer_links" href='/users/{{userToEdit._id}}'>Not {{userToEdit.name}}? Go Back</a>

