
<h1>{{user.name}}'s Pantry</h1>

<ul>
  <li>{{user.email}}</li>
  <li>Favorite Food: {{user.favorite_food}}</li>
</ul>

<div class='fridge'>
  {{#each user.items}}
  <a href='/items/{{_id}}'>
    <div>{{name}}
    </div>
  </a>
  {{/each}}
</div>

<p><a href='/users'>Browse Other Pantries</a></p>
<p><a href='/users/new'>Create Your Pantry Now</a></p>
<p><a href='/users/{{user._id}}/edit'>Are you {{user.name}}? Edit This Info</a></p>
