
<h1 class="page_title">{{user.name}}'s Pantry</h1>
<div class="user_info">
  <p class="user_name_show_page">{{user.email}}</p>
  <p class="bullet_separator">&bull;</p>
  <p class="favorite_food_show_page">Favorite Food: {{user.favorite_food}}</p>
</div>

<hr>

<div class='pantry_items_container'>
  {{#each user.items}}
  <a class="each_food_link" href='/users/{{../user._id}}/items/{{_id}}'>
    <div class="each_food">
      <p>{{name}}</p>
      <div class="food_group_image_container">
        <img class="food_group_image_index_page" src="/images/{{food_group}}.png">
      </div>
    </div>
  </a>
  {{/each}}
</div>

<nav class="footer_nav">
  <p><a class="footer_links" href='/users'>Browse Other Pantries</a></p>
  <p><a class="footer_links" href='/users/new'>Create Your Pantry Now</a></p>
  <div class="edit_delete_pantry">
    <p>Are you {{user.name}}?</p>
    <a href='/users/{{userId}}/edit'><button class="edit_delete_button">Edit</button></a>
    <p>or</p>
    <form action="/users/{{user._id}}?_method=DELETE" method="POST">
      <input class="edit_delete_button" type="submit" value="Delete" class="btn btn-danger"/>
    </form>  this Pantry or  <a href='/users/{{user._id}}/items/new'><button class="edit_delete_button"> Add a new food</button></a>
  </div>
</nav>
